body{
    background-color: #333;
    color: #FFF;
}

h1{
    margin-left: .2em;
}

li{
    list-style-position: inside;
    margin-bottom: 0.2em;
}

ul{
    list-style-type: none;
    padding-left: .5em;
}

li::before{
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    margin-right: 0.5em;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;  
}

li:hover{
    cursor: context-menu;
}

label[for="classical"]{
    color: #00F1FF;
}

label[for="rock"]{
    color: #FF0078;
}

label[for="newWave"]{
    color: #D293F2;
}

label:hover, input:hover{
    cursor: pointer;
}

li[data-genre="classical"]::before{
    color: #00F1FF;
}

li[data-genre="rock"]::before{
    color: #FF0078;
}

li[data-genre="newWave"]::before{
    color: #D293F2;
}

li[data-genre="classical"]:hover{
    background-color: #00F1FF;
}

li[data-genre="rock"]:hover{
    background-color: #FF0078;
}

li[data-genre="newWave"]:hover{
    background-color: #D293F2;
}
